<div class="movie-details">
  <div class="container" *ngIf="film">
    <a routerLink="/" class="back-btn">Back</a>
    <div class="card mb-3">
      <!--<img class="card-img-top" src="../../assets/images/movie_card.jpg" alt="Card image cap">-->
      <div class="card-body">
        <h5 class="card-title">{{film.title}}</h5>
        <p class="card-text">{{film.opening_crawl}}</p>
        <div class="info">
          <div>{{'Film Directior: ' + film.director}}</div>
          <div>{{'Episode Id: ' + film.episode_id}}</div>
          <div>{{'Created At: ' + film.created}}</div>
          <div>{{'Edited At: ' + film.edited }}</div>
          <div>{{'Producer: ' + film.producer}}</div>
          <div>{{'Release At: ' + film.release_date}}</div>
        </div>
        <h5 style="margin-top: 20px"> Characters </h5>
        <div class="charecters row">
          <div class="'col-lg-12">
            <div class="row">
              <div class="col-md-3 character-wrap text-center" *ngFor="let character of characters">
                <i class="user-icon fa fa-user"></i>
                <!--<img src="/assets/images/user.png" height="40" style="margin-bottom: 15px;" alt="User Image">-->
                <!--<img src="assets/images/user.png" height="40" style="margin-bottom: 15px;" alt="User Image">-->
                <div title="gender: {{character.gender}} | height: {{character.height}} | mass: {{character.mass}} | skin-color: {{character.skin_color}} | eye-color: {{character.eye_color}} | birth-year: {{character.birth_year}}">
                  {{character.name}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!film">
    Loading...
  </div>
</div>

