.favorite-wrap {
  padding-top: 100px;
  /*max-width: 900px;*/
  /*margin: 0 auto;*/
  color: #333;
}

.info {
  color: #555;
  font-size: 14px;
}

.remove-favorite-btn {
  position: absolute;
  right: 10px;
  top: 15px;
  color: tomato;
  z-index: 1;
  font-size: 20px;
}

.card-deck .card {
  min-width: 300px;
  margin-bottom: 15px;
}


