<div class="favorite-wrap">
  <div class="container">
    <div *ngIf="favorite_data.length > 0" class="card-deck">
      <div *ngFor="let item of favorite_data" class="card">
        <!--<img class="card-img-top" src="..." alt="Card image cap">-->
        <div (click)="removeFavorite(item)" class="remove-favorite-btn"><i class="fa fa-trash"></i></div>
        <div class="card-body">
          <h5 class="card-title">
            <a href="{{filmUrl(item)}}">{{item.title}}</a>
          </h5>
          <p class="card-text">{{ (item.opening_crawl.length > 70) ? (item.opening_crawl | slice:0:70) + ' ...':(item.opening_crawl) }}</p>
          <div class="info">
            <div>{{'Film Directior: ' + item.director}}</div>
            <div>{{'Producer: ' + item.producer}}</div>
            <div>{{'Created At: ' + item.created}}</div>
            <div>{{'Edited At: ' + item.edited }}</div>
            <div>{{'Release At: ' + item.release_date}}</div>
            <div>{{'Episode Id: ' + item.episode_id}}</div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="favorite_data.length <= 0" class="data-not-found">
      <h3>No data found!</h3>
    </div>


  </div>
</div>
